
.gis_header_logo{
    margin: 2rem 0;
    font-family: 'Pacifico', cursive;
}
.gis_header_button {
    margin-bottom: 2rem;
}
.gis_footer_logo {
    margin: 1.5rem 0; font-family: 'Pacifico', cursive;
}
.gis_footer_button {
    margin-top: 2rem;
}