<div style="text-align: center">

    <div class = "gis_header_logo">
        <h1> Pragmatic</h1>
    </div>
    <div class="gis_header_button">
      <span>nav1</span>
      <span>nav2</span>


      {% if not user.is_authenticated %}
      <span>
          <a href="{% url 'accountapp:login' %}">
              Login
          </a>

      </span>
          <a href="{% url 'accountapp:create' %}">
              Signup
          </a>
      </span>
      {% else %}
          <a href="{% url 'accountapp:logout' %}">
              Logout
          </a>

      {% endif %}
    </div>

</div>
